<h1>hi namaku is <%= name %> dan saya tinggal di <%= address %></h1>
<p><%= paragraf %></p>
<p>Saya <%= name %><span> mengikuti kampus merdeka di <%= mitra %></span></p>
<p>Hobi Saya</p>
<ul>
    <li><%= hobi1 %></li>
    <li><%= hobi2 %></li>
    <li><%= hobi3 %></li>
</ul>
